recursive-include sponsorscout/data *.json *.csv *.png *.ico
recursive-include sponsorscout/data/icons *.png
recursive-include sponsorscout/db *.sql
include README.md
include CODEBASE.md
include LICENSE
include requirements.txt
include SponsorScout.spec